
main article fieldset {
	margin: 32px 0px 32px 0px;
	padding: 16px;
	border: 1px solid var(--article-border);
	border-radius: 8px;
}

dialog article fieldset {
	margin: 0px;
	padding: 16px;
	border: 0px solid transparent;
}

main article fieldset legend,
dialog article fieldset legend {
	margin: 0px;
	padding: 4px 8px;
	font-family: 'cantarell';
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	text-align: left;
	border: 1px solid var(--article-border);
	border-radius: 8px;
	box-sizing: border-box;
	user-select: none;
}

main article fieldset div,
dialog article fieldset div {
	display: flex;
	margin: 0px 0px 16px 0px;
	padding: 0px;
	justify-content: space-between;
	vertical-align: middle;
}

main article fieldset div:last-of-type,
dialog article fieldset div:last-of-type {
	margin-bottom: 0px;
}

main article fieldset div label,
dialog article fieldset div label {
	display: inline-block;
	width: auto;
	font-family: 'vera-mono';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
}

main article fieldset div label + input {
	width: 66%;
}

dialog article fieldset div label + input {
	width: 66%;
}

main article fieldset div label + textarea {
	width: 66%;
	min-height: 4em;
}

dialog article fieldset div label + textarea {
	width: 66%;
	min-height: 4em;
}

main article fieldset div label + div,
dialog article fieldset div label + div {
	display: inline-block;
}

