
label[data-type]:before {
	display: inline-block;
	width: 1em;
	line-height: inherit;
	margin: 0px;
	padding: 0px 0.25em;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
	speak: never;
}

/* input types */
label[data-type="date"]:before           { content: '\e81b'; }
label[data-type="datetime-local"]:before { content: '\e81b'; }
label[data-type="email"]:before          { content: '\f0e0'; }
label[data-type="file"]:before           { content: '\f15b'; }
label[data-type="month"]:before          { content: '\e81b'; }
label[data-type="number"]:before         { content: '\f162'; }
label[data-type="password"]:before       { content: '\f132'; }
label[data-type="search"]:before         { content: '\e800'; }
label[data-type="tel"]:before            { content: '\e81c'; }
label[data-type="text"]:before           { content: '\e809'; }
label[data-type="time"]:before           { content: '\e81d'; }
label[data-type="url"]:before            { content: '\e81e'; }
label[data-type="week"]:before           { content: '\e81b'; }

/* advanced types */
label[data-type="bug"]:before            { content: '\f188'; }
label[data-type="connection"]:before     { content: '\f0ec'; }
label[data-type="document"]:before       { content: '\f15b'; }
label[data-type="download"]:before       { content: '\e807'; }
label[data-type="experimental"]:before   { content: '\f0c3'; }
label[data-type="folder"]:before         { content: '\e80b'; }
label[data-type="modified"]:before       { content: '\e819'; }
label[data-type="offline"]:before        { content: '\e818'; }
label[data-type="online"]:before         { content: '\e817'; }
label[data-type="organization"]:before   { content: '\f275'; }
label[data-type="port"]:before           { content: '\e816'; }
label[data-type="rebel"]:before          { content: '\f1d0'; }
label[data-type="terminal"]:before       { content: '\f120'; }
label[data-type="upload"]:before         { content: '\e808'; }
label[data-type="user"]:before           { content: '\e801'; }
label[data-type="users"]::before         { content: '\e802'; }
label[data-type="warning"]:before        { content: '\e80a'; }
label[data-type="cloud"]:before          { content: '\e81a'; }
label[data-type="cloud-download"]:before { content: '\f0ed'; }
label[data-type="cloud-upload"]:before   { content: '\f0ee'; }

/* browser */
label[data-type="browser-safari"]:before  { content: '\f267'; }
label[data-type="browser-chrome"]:before  { content: '\f268'; }
label[data-type="browser-firefox"]:before { content: '\f269'; }
label[data-type="browser-opera"]:before   { content: '\f26a'; }
label[data-type="browser-ie"]:before      { content: '\f26b'; }
label[data-type="browser-edge"]:before    { content: '\f282'; }

/* services */
label[data-type="service-bitbucket"]:before { content: '\f171'; }
label[data-type="service-git"]:before       { content: '\f1d3'; }
label[data-type="service-github"]:before    { content: '\f113'; }
label[data-type="service-gitlab"]:before    { content: '\f296'; }

