
main table {
	display: table;
	margin: 32px auto;
	padding: 0px;
	table-layout: fixed;
	width: 100%;
}

main table thead th {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	font-family: 'cantarell';
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

main table thead th,
main table tbody td {
	padding: 0px 8px;
	border-left: 1px solid var(--input-default-border);
	border-bottom: 1px solid var(--input-default-border);
	line-height: 30px;
	vertical-align: middle;
}

main table thead th:first-of-type,
main table tbody td:first-of-type {
	width: 22px;
	padding-top: 4px;
	border-left: 0px solid transparent;
	text-align: center;
}

main table thead th:first-of-type input[type="checkbox"],
main table tbody td:first-of-type input[type="checkbox"] {
	display: inline-block;
	margin: 0px auto;
	vertical-align: middle;
	transform: translate(0px, -4px); /* WTF, Blink and WebKit, WTF??? */
}

main table thead th:first-of-type input[type="checkbox"]:hover,
main table thead th:first-of-type input[type="checkbox"]:focus {
	cursor: ns-resize;
}

main table thead th:last-of-type,
main table tbody td:last-of-type {
	width: 134px;
	border-right: 0px solid transparent;
	text-align: center;
	white-space: nowrap;
}

main table tbody td:last-of-type button {
	margin: 0px 0px 0px 8px;
}

main table tbody td:last-of-type button:first-of-type {
	margin: 0px 0px 0px 0px;
}

main table tbody tr:hover td {
	background: rgba(255,255,255,0.1);
	cursor: pointer;
}

main table tbody tr[data-select="true"] td {
	background: rgba(255,255,255,0.1);
}

main table tbody tr[data-select="true"]:hover td {
	cursor: no-drop;
}

main table tbody td {
	font-family: 'vera-mono';
	font-weight: normal;
	font-size: 16px;
}

main table tbody td label {
	font-weight: normal;
	font-style: normal;
}

main table tbody td label.active {
	font-weight: bold;
	font-style: normal;
}

main table tbody td:nth-of-type(2) {
	text-align: left;
}

main table tbody td:nth-of-type(3),
main table tbody td:nth-of-type(4) {
	width: auto;
	text-align: center;
}

main table thead th:nth-of-type(5),
main table tbody td:nth-of-type(5) {
	width: 7em;
	text-align: center;
}

main table:after {
	display: block;
	position: static;
	content: " ";
	width: 100%;
	height: 64px;
}
