
header {
	display: block;
	position: fixed;
	width: auto;
	height: 50px;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 9px 16px;
	color: var(--header-color);
	background: var(--header-background);
	text-align: center;
	box-sizing: border-box;
	z-index: 20;
}

header ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	user-select: none;
}

header ul li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid var(--button-default-border);
	border-right: 0px solid transparent;
	border-bottom: 1px solid var(--button-default-border);
	border-left: 0px solid transparent;
}

header ul li a[data-view]:before {
	display: inline-block;
	width: auto;
	margin: 0em 0.25em 0em 0em;
	padding: 0px;
	font-family: "icon";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-smooth: antialiased;
}

header ul li:first-of-type {
	border-left: 1px solid var(--button-default-border);
	border-right: 0px solid transparent;
	border-radius: 4px 0px 0px 4px;
}

header ul li:last-of-type {
	border-left: 0px solid transparent;
	border-right: 1px solid var(--button-default-border);
	border-radius: 0px 4px 4px 0px;
}

header ul li {
	color: var(--button-default-color);
	background: var(--button-default-background);
}

header ul li:hover {
	background: var(--button-focus-background);
}

header ul li:hover a {
	color: var(--button-focus-color);
}

header ul li.active {
	background: var(--palette-primary-background);
}

header ul li.active a {
	color: var(--palette-primary-color);
}

header ul li a {
	display: inline-block;
	color: var(--button-default-color);
	font-family: 'cantarell';
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	margin: 0px;
	padding: 4px 12px;
}

