
main {
	display: block;
	position: fixed;
	margin: 0px;
	padding: 0px 16px;
	top: 50px;
	right: 0px;
	bottom: 50px;
	left: 0px;
	color: var(--main-color);
	background: var(--main-background);
	overflow: hidden auto;
	z-index: 10;
}

main article {
	display: block;
	position: static;
	width: 66%;
	margin: 32px auto;
	padding: 0px 16px;
	color: var(--article-color);
	background: var(--article-background);
	border: 1px solid var(--article-border);
	border-radius: 8px;
}

main article *[data-message] {
	font-family: 'vera-mono';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	text-align: center;
}

